<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrepLayout-1</title>
</head>
<body>
    <h1>The title H1</h1>

    <h2>The title H2</h2>

    <p>text</p>
    <p>text</p>
    <p><b>text</b></p>
    <p>text</p>
    <p>text</p>

    <h2>Another title H2</h2>

    <p>text</p>
    <p>text</p>
    <p><i>text</i></p>

    <h2>Lists</h2>

    <ul>
        <li>Red</li>
        <li>Yellow</li>
        <li>Green</li>
        <li>Blue</li>
        <li>Black</li>
    </ul>

    <ol>
        <li>Ivanov</li>
        <li>Petrov</li>
        <li>Sidorov</li>
        <li>Nikolaev</li>
        <li>Cheburashkin</li>
    </ol>

    <h2>Links</h2>

    <p>The link to <a href="https://code.mu">Code.mu</a></p>
    <p>The link to <a href="https://yandex.ru">Yandex</a></p>
    <p>The link to <a href="https://youtube.com">Youtube</a></p>

    <ul>
        <li>Link to <a href="1.html">Page 1</a></li>
        <li>Link to <a href="2.html">Page 2</a></li>
        <li>Link to <a href="3.html">Page 3</a></li>
    </ul>

    <h2>Pictures</h2>

    <img src="img/smile.png" alt="the picture" width="150" height="150">

    <h2>Tables</h2>

    <table border="1" width="400" height="300">
        <tr>
            <td>0</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
        </tr>
        <tr>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
        </tr>
        <tr>
            <td>a</td>
            <td>b</td>
            <td>c</td>
            <td>d</td>
            <td>e</td>
        </tr>
    </table>
    
    <table border="1" width="350">
        <tr>
            <th>Продукт</th>
            <th>Цена</th>
            <th>Количество</th>
        </tr>
        <tr>
            <td>Яблоки</td>
            <td>100</td>
            <td>5 кг</td>
        </tr>
        <tr>
            <td>Апельсины</td>
            <td>200</td>
            <td>6 кг</td>
        </tr>
        <tr>
            <td>Бананы</td>
            <td>300</td>
            <td>7 кг</td>
        </tr>
    </table>
</body>
</html>